*, ::after, ::before {
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 2rem;
}

.settings {
    width: 500px;
    margin: 0 auto;
    padding: 3rem 0;
}

.field {
    margin-bottom: 0.75rem;
}

label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-size: 1rem;
}

.help-text {
    display: block;
    color: #a09f9f;
    margin: 0.5rem 0 1rem;
    font-size: 0.9rem;
}

textarea,
input[type="number"] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8492A6;
    background-clip: padding-box;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #E0E6ED;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    height: calc(7rem + 2px);
}

textarea:focus,
input[type=number]:focus {
    background-color: #FFF;
    border-color: transparent;
    -webkit-box-shadow: 0 0 0 2px #6e00ff;
    box-shadow: 0 0 0 2px #6e00ff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*checkbox css*/
.checkbox {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #E0E6ED;
    border-radius: 0.25rem;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #6e00ff;
    border: 1px solid #6e00ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*select*/
.custom-select {
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-select option {
    /*background-color: #6e00ff;*/
}

.custom-select {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8492A6;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #E0E6ED;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(3rem + 2px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
}

.custom-select:focus {
    border-color: rgba(110, 0, 255, 0.5);
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px #6e00ff;
    box-shadow: 0 0 0 2px #6e00ff;
}


.save-btn {
    color: #FFF;
    background-color: #6e00ff;
    border-color: #6e00ff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/*alert message*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    font-size: 1rem;
    visibility: hidden;
    margin-top: 1rem;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}